 .nav-link {
    color: var(--secondary-color) !important;
    transition: color 0.3s ease;
}
 .nav-link:hover {
    color: var(--accent-color) !important;
}


.navbar-brand{
    color: rgb(9, 243, 9);
}

.navbar-brand i{
    color: rgb(29, 231, 29);
}

.nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px;
    background-color: rgb(6, 33, 4); 
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: rgb(6, 33, 4); 
}

.nav-link:hover::after {
    width: 100%; 
}


.dropdown-menu {
    width: 250px; 
    min-width: 250px;
}


.dropdown-menu li p {
    font-size: 1rem;
    color: #495057;
}

.dropdown-menu .btn-outline-danger {
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu .btn-outline-danger:hover {
    background-color: #dc3545; 
    color: #fff; 
}

.navigationArea{
    background-color:rgba(43,71,71,255);
}


#NavigationBar {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#NavigationBar .navbar-brand {
    color: rgb(29, 231, 29); 
    font-weight: bold; 
}

#NavigationBar .navbar-nav .nav-link {
    color: white;
   
}

#NavigationBar .navbar-nav .nav-link:hover {
    color: rgb(29, 231, 29);
}

#NavigationBar .dropdown-menu {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

#NavigationBar .dropdown-menu .dropdown-item {
    color: white; 
}

#NavigationBar .dropdown-menu .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#navname {
    font-size: 1.5rem;
    color: rgb(29, 231, 29);
}

.navbar-toggler-icon {
    background-color: white;
}


#navbarNav{
    color: white;
}