<div class="navigationArea">
  @if (UserService.currentUser()) {
  <!-- Desktop and Tablet Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="NavigationBar">
    <div class="container">
      <p class="navbar-brand" id="navname">
        <i class="bi bi-book me-2"></i>Binary Bookshelf
      </p>

      <button class="navbar-toggler navtoggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href=""><i class="bi bi-house-heart mx-1"></i>Home</a></li>
          <!-- <li class="nav-item"><a class="nav-link" href=""><i class="bi bi-person-fill mx-1"></i>Profile</a></li> -->

          <li class="nav-item"><a class="nav-link" href="" [routerLink]="['transactions']">
              <i class="bi bi-journal-text mx-1"></i>Transactions</a></li>

          <!-- <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-people mx-1"></i>Community</a></li> -->

          <!-- <li class="nav-item"><a class="nav-link" href="" [routerLink]="['Subscriptions']">
              <i class="fa-solid fa-money-bill"></i>
              subscriptions</a></li> -->

          <!-- <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-heart-fill mx-1"></i>Wishlist</a></li> -->
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-link text-dark p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-chess-king"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end shadow-lg rounded-3 border-0">
                <li class="px-3 py-2">
                  <p class="mb-0 text-muted font-weight-bold">{{ UserService.LoggedUser()?.given_name }}</p>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <button class="btn btn-outline-danger w-100 py-2" (click)="Logout()">LogOut</button>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Mobile Navbar (Offcanvas) -->
  <nav class="navbar bg-body-tertiary fixed-top d-lg-none">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="bi bi-book me-2"></i> Binary Bookshelf
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <a class="navbar-brand" href="#">
            <i class="bi bi-book me-2"></i> Binary Bookshelf
          </a>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Transactions</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Community</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Wishlist</a></li>
            <li class="nav-item">
              <button class="btn btn-danger" (click)="Logout()">
                LogOut
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  }@else{
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="bi bi-book me-2"></i> Binary Bookshelf
      </a>
      <button class="navbar-toggler navtoggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['/User-Login']"><button type="button"
                class="btn btn-success">Sign In</button></a></li>
          <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['/User-SignUp']"><button type="button"
                class="btn btn-outline-success">Sign Up</button></a></li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Mobile Navbar (Offcanvas) -->
  <nav class="navbar bg-body-tertiary fixed-top d-lg-none">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="bi bi-book me-2"></i> Binary Bookshelf
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <a class="navbar-brand" href="#">
            <i class="bi bi-book me-2"></i> Binary Bookshelf
          </a>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['/User-Login']"><button type="button"
                  class="btn btn-success">Sign In</button></a></li>
            <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['/User-SignUp']"><button type="button"
                  class="btn btn-outline-success">Sign Up</button></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  }
</div>
<div class="UserContent">
  <router-outlet></router-outlet>
</div>
