<h2 class="h2">Book Lending Requests</h2>
<div class="button-container">
    <button class="btn btn-free">Free Users</button>
    <button class="btn btn-premium">Premium Users</button>
    <button class="btn btn-all"(click)="loadAllLendingRequest()">All Users</button>
    <input type="text" class="search-bar" placeholder="Search by name or ID">
</div>
<div class="container my-4">
  <!-- Table View (Visible on Large Screens) -->
  <div class="d-none d-xxl-block table-container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Book Title</th>
          <th>Author</th>
          <th>UserID</th>
          <th>User Name</th>
          <th>Copies Available</th>
          <th>Request Days</th>
          <th>UserStatus</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (Requests of AdminService.LendingRequestSignal(); track $index) {
        <tr>
          <td>{{Requests.bookTitle}}</td>
          <td>{{Requests.authorName}}</td>
          <td>BB {{Requests.userId}}</td>
          <td>{{Requests.userName}}</td>
          <td>{{Requests.quantity}}</td>
          <td>{{Requests.requestDate}}</td>
          <td>{{Requests.userStatus}}</td>
          <td><button class="btn btn-primary" (click)="AcceptRequest(Requests.requestID)">Accept</button>
          <button class="btn btn-danger">Decline</button></td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- Card View (Visible on Smaller Screens) -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 d-xxl-none">
    @for (item of AdminService.LendingRequestSignal(); track $index) {
    <div class="col">
      <div class="card shadow-sm border-light rounded-3 h-100">
        <div class="card-body">
          <h5 class="card-title">{{item.bookTitle}}</h5>
          <p class="card-text"><strong>Author:</strong> {{item.authorName}}</p>
          <p class="card-text"><strong>UserID:</strong> BB {{item.userId}}</p>
          <p class="card-text"><strong>UserID:</strong>{{item.userName}}</p>
          <p class="card-text"><strong>Copies Available:</strong> {{item.quantity}}</p>
          <p class="card-text"><strong>Request Days:</strong> {{item.requestDate}}</p>
          <p class="card-text"><strong>Request Days:</strong> {{item.userStatus}}</p>
          <button class="btn btn-primary w-100">Lend</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
