<div class="bodycontainer">
  <div class="container row">

    <div class="col-lg-7 pb-5 pe-lg-5">
      <div class="card shadow-sm">
        <div class="card-header">
          Pro
        </div>
        <div class="card-body">
          <h1 class="pricing-card-title">Rs.250 <small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4 text-center">
            <li>Borrow books for 3-30 days</li>
            <li>Get 20% off on purchases</li>
            <li>Access the community</li>
            <li>Direct support</li>
            <li>Highlighted comments</li>
          </ul>
          <button type="button" class="btn btn-primary w-100">Get Started</button>
        </div>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="fw-bold mb-4">Payment Details</h4>
          <div class="mb-3">
            <label class="form-label text-muted">Card Number</label>
            <input type="text" class="form-control" placeholder="1234 5678 9012 3456">
          </div>
          <div class="row">
            <div class="col-6">
              <label class="form-label text-muted">Expires</label>
              <input type="text" class="form-control" placeholder="MM/YYYY">
            </div>
            <div class="col-6">
              <label class="form-label text-muted">CVC</label>
              <input type="text" class="form-control" placeholder="XXX">
            </div>
          </div>
          <div class="mt-3">
            <label class="form-label text-muted">Cardholder Name</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <button type="button" class="btn btn-primary mt-4 w-100">Purchase</button>
        </div>
      </div>
    </div>
</div>

</div>
