<div class="container mt-4">
  <h2>Book Overview</h2>
  <div class="row">
    <!-- Book Cover Image Column -->
    <div class="col-md-4">
      <img src="https://res.cloudinary.com/dztdhbdw9/image/upload/v1733202366/da-net8/ef9nipxnbyvda5iv4te3.jpg"
        alt="Book Cover" class="img-fluid img-thumbnail" style="max-height: 400px; object-fit: cover;" />
    </div>


    <!-- Book Details Column -->
    <div class="col-md-8">
      <ul class="list-unstyled">
        <li><strong>Book ID:</strong> 2002</li>
        <li><strong>Title:</strong> Educated</li>
        <li><strong>Author:</strong> Memgir</li>
        <li><strong>Genre:</strong> Education</li>
        <li><strong>Publish Date:</strong> 2024-12-03</li>
        <li><strong>Description:</strong> Educated is a 2018 memoir by the American author Tara Westover. Westover
          recounts overcoming her survivalist Mormon family in order to go to college, and emphasizes the importance of
          education in enlarging her world.</li>
        <li><strong>Price:</strong> ₹1500.00</li>
        <li><strong>Discounted Price:</strong> ₹1500.00</li>
        <li><strong>Available Quantity:</strong> 94</li>
        <li><strong>Premium Book:</strong> No</li>
        <li><strong>User Premium:</strong> No</li>
      </ul>
    </div>


  </div>

  <div class="row mt-4">
    <!-- Customer Reviews -->
    <div class="col-12">
      <h4>Customer Reviews</h4>
      <ul class="list-unstyled">
        <li>
          <strong>Sankeerthan</strong>: Ommala nan thanda leo!!! (4 stars, 2024-12-03)
        </li>
        <li>
          <strong>Branavan</strong>: apa nan yaruda!!! (4 stars, 2024-12-07)
        </li>
        <li>
          <strong>Nithushan</strong>: Nice boook but i don't undestad!!! (1 stars, 2024-12-09)
        </li>
      </ul>
    </div>
  </div>
</div>
