body {
    background-color: #121212;
    color: #ffffff;
}
h1, h2 {
    text-align: center;
}
table {
    margin: 20px auto;
    width: 90%;
    background-color: #838383;
    color: #ffffff;
}
th {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
}
td {
    text-align: center;
}
button {
    background-color: #28a745;
    color: #ffffff;
}
button:hover {
    background-color: #218838;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}