.hero-section {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}

.hero-section h2 {
    font-weight: 700;
    margin-bottom: 30px;
}

.search-input {
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
    border-color: yellow; 
    box-shadow: 0 0 5px yellow; 
    outline: none;
}
