<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <div class="password-reset-container mt-4">
                  <h1><i class="bi bi-book"></i></h1>
                  <h2>Forgot your password</h2>
                  <p>Please enter the NIC</p>
                  <form>

                    @if (OTPVerification) {
                    <div class="mb-3">
                      <input type="email" class="form-control" placeholder="Enter Your New password" name="NewPassword"
                      [(ngModel)]="NewPassword" required>
                    </div>
                    <button type="submit" class="btn btn-outline-success" (click)="changePassword()">Change
                      Password</button>
                    }@else {
                    <div class="mb-3">
                      <input type="email" class="form-control" name="UserNic" placeholder="Enter Your NIC" required
                        [(ngModel)]="UserNic">
                    </div>
                    <button type="submit" class="btn btn-outline-warning" (click)="RequestButton()">Request</button>
                    }

                  </form>
                  <a href="" [routerLink]="['/User-Login']" class="back-link">Back to Login</a>
                </div>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="ForgotPassword.jpg" class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
