<div class="bodyContainer">
  <main class="container py-5">
    <section class="mb-5">
      <h2 class="h4 mb-4 text-gray-800 text-center">
        Current Books
      </h2>

      <div class="search-container">
        <input type="text" class="form-control search-input" placeholder="Search by name, status..."
          [(ngModel)]="searchText" />
        <button class="btn btn-search" (click)="loadUserLendingBooks(searchText)">
          Search
        </button>
      </div>
    </section>


    <section>
      <div class="row g-4 mt-3">
        @if (userService.UserTransactionSignal().length !=0) {
        <h2 class="Requested text-center mb-4">Live Transactions</h2>
        } @for (item of userService.UserTransactionSignal(); track $index)
        { @if
        (item.status == 0) {
        <div class="col-md-6 col-lg-4">
          <div class="card h-100 border border-light shadow-sm hover-effect">
            <!-- Light border and hover-effect class -->
            <div class="card-body">
              <div class="fw-light text-secondary mb-2">
                ID: {{ item.lendID }}
              </div>
              <h3 class="card-title h5 text-primary">
                <i class="bi bi-journal-check me-2"></i>{{ item.bookTitle }}
              </h3>
              <p class="card-text text-muted">{{ item.authorName }}</p>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="badge bg-info text-white">Requested</span>
                <div class="text-end">
                  <small class="text-primary">
                    <i class="bi bi-calendar me-1"></i>Requested:
                    {{ item.requestDate | date }}
                  </small>
                </div>
              </div>
              <p class="small text-muted mt-2">
                This book is currently requested.
              </p>
              <div class="d-flex justify-content-end">
                <button class="btn btn-danger rounded-pill" (click)="CancelLeggingRequest(item.lendID)">Remove Request</button>
              </div>

              <!-- Small note -->
            </div>
          </div>
        </div>
        } }
      </div>

      <!-- approved  -->
      <div class="row g-4 mt-3">
        @if (userService.UserTransactionSignal().length !=0) {
        } @for (item of userService.UserTransactionSignal(); track $index) { @if
        (item.status == 1) {
        <div class="col-md-6 col-lg-4">
          <div class="card h-100 lending-card border-0 shadow-sm">
            <div class="card-body">
              <div class="fw-light text-secondary mb-2">
                ID: {{ item.lendID }} ({{ item.requestDays }} Days)
              </div>
              <h3 class="card-title h5 text-warning">
                <i class="bi bi-journal-check me-2"></i>{{ item.bookTitle }}
              </h3>
              <p class="card-text text-muted">{{ item.authorName }}</p>
              <div class="d-flex justify-content-between align-items-center mt-3">
                @if (item.dueDate == item.todayDatepluse2) {
                <span class="badge bg-warning text-dark">2 Days Left</span>
                } @else if (item.dueDate == item.todayDatepluse1) {
                <span class="badge bg-danger text-white">1 Day Left</span>
                }@else if (item.dueDate < item.actualDate) { <span class="badge bg-danger text-white">
                  Overdue</span>
                  } @else {
                  <span class="badge bg-warning text-white">Approved</span>
                  }
                  <div class="text-end">
                    <small class="text-danger">
                      <p style="color: red;">Waiting Period</p>
                      <i class="bi bi-calendar me-1"></i>:
                      {{ item.waitingStart| date }}
                      -to-
                      {{ item.waitingEnd | date }}
                    </small>
                    <br />

                  </div>
              </div>
            </div>
          </div>
        </div>
        } }
      </div>
      <div class="row g-4 mt-3">
        @if (userService.UserTransactionSignal().length !=0) {
        } @for (item of userService.UserTransactionSignal(); track $index) { @if
        (item.status == 2) {
        <div class="col-md-6 col-lg-4">
          <div class="card h-100 lending-card border-0 shadow-sm">
            <div class="card-body">
              <div class="fw-light text-secondary mb-2">
                ID: {{ item.lendID }} ({{ item.requestDays }} Days)
              </div>
              <h3 class="card-title h5 text-success">
                <i class="bi bi-journal-check me-2"></i>{{ item.bookTitle }}
              </h3>
              <p class="card-text text-muted">{{ item.authorName }}</p>
              <div class="d-flex justify-content-between align-items-center mt-3">
                @if (item.dueDate == item.todayDatepluse2) {
                <span class="badge bg-warning text-dark">2 Days Left</span>
                } @else if (item.dueDate == item.todayDatepluse1) {
                <span class="badge bg-danger text-white">1 Day Left</span>
                }@else if (item.dueDate < item.actualDate) { <span class="badge bg-danger text-white">
                  Overdue</span>
                  } @else {
                  <span class="badge bg-success text-white">Lending</span>
                  }
                  <div class="text-end">
                    <small class="text-success">
                      <i class="bi bi-calendar me-1"></i>Lend:
                      {{ item.rentDate | date }}
                    </small>
                    <br />
                    <small class="text-success">
                      <i class="bi bi-calendar me-1"></i>Due:
                      {{ item.dueDate | date }}
                    </small>
                  </div>
              </div>
              <button class="FeedbackButton btn btn-sm btn-outline-info rounded-pill"
                (click)="NavigateToBookDetails(item.bookId)">
                Leave your feedback
              </button>

            </div>
          </div>
        </div>
        } }
      </div>
    </section>
  </main>
</div>

<div class="table-container">
  <h2>Your Transactions History</h2>
  <table>
    <thead>
      <tr class="text-center">
        <th>#</th>
        <th>Book Name</th>
        <th>Request Date</th>
        <th>Request Days</th>
        <th>Approved Date</th>
        <th>Lending Date</th>
        <th>Due Date</th>
        <th>Return Date</th>
        <th>Status</th>
        <th class="currency">Amount</th>
        <th class="currency">Due Amount</th>
        <th class="currency">Total Amount</th>
      </tr>
    </thead>
    <tbody>
      @for (item of userHistorySignal(); track $index) {
      <tr class="text-center">
        <td>{{$index + 1}}</td>
        <td>{{item.bookName}}</td>
        <td>{{item.requestDate | date}}</td>
        <td>{{item.requestDays}}</td>
        <td>{{item.approvedDate |date}}</td>
        <td>{{item.lendingDate |date}}</td>
        <td>{{item.dueDate |date}}</td>
        <td>{{item.returnDate |date}}</td>
        @if (item.status == 'On Time') {
        <td style="color: green;">{{item.status}}</td>
        }
        @if (item.status == 'Overdue') {
        <td style="color: red;">{{item.status}}</td>
        }
        <td style="color: green;">{{item.amount}}/=</td>
        <td style="color: red;">{{item.dueAmount}} /=</td>
        <td style="color: green;">{{item.totalAmount}}/=</td>
      </tr>
      }
    </tbody>
  </table>
</div>
